# Ignore MySQL Workbench project files
*.mwb
*.mwb.bak

# Ignore exported SQL files
*.sql

# Ignore MySQL Workbench log files
*.log

# Ignore MySQL Workbench backup files
*.bak

/build/

/target

.classpath

.project

.DS_Store
