@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.event-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Styles for Reviews Section */
.reviews-section {
    margin-top: 20px;
    text-align: center;
}

.star-rating {
    display: inline-block;
}

.star {
    cursor: pointer;
    color: rgb(128, 128, 128);
    font-size: 30px;
}

.star.rated {
    color: gold;
}

.yellow-star {
    color: yellow;
}

.star:hover,
.star:hover ~ .star {
    color: gold;
}

.success-message {
    color: green;
    text-align: center;
    /* Additional styling as needed */
}

.error-message {
    color: red;
    text-align: center;
}


.register-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0056b3;
}
